.title {
  width: 100%;
  min-height:200px;
  max-height: auto;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: #2A77AE;
  margin-bottom: 50px;
  padding: 100px;
  background-image: url(../../image/clickybackground1.jpg)
}
