.mynav {
    background-color: blue;
    border: solid 5px black;
    width: 100%;
    min-height: 150px;
    max-height: auto;
    margin: 0;
    color: white;
}
.navsections{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 50px;
    font-weight: bolder;
}

.scoreboard{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 40px;
    font-weight: bolder;
}